body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    opacity: 0;
    animation: fade-in 1.5s forwards;
    background-color: #fff;
    padding: 10px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    text-align: center;
    width: 500px;
    position: relative;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

#searchInput {
    width: calc(100% - 50px);
    padding: 15px;
    margin-top: 0px;
    border: 2px solid #ccc;
    border-radius: 15px;
}

#searchIcon {
    position: absolute;
    top: 50%; 
    right: 30px;
    transform: translateY(-50%);
    width: 30px;
    height: auto;
    cursor: pointer;
}